.Ball{
    background-color: tomato;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 1em;
    margin: 1em;
}